@page
@model EmployeeSite.Pages.Activities.DetailsModel

<div>
    <h4>EmployeeActivity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeActivity.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeActivity.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeActivity.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeActivity.Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeActivity.ActivityDecription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeActivity.ActivityDecription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeActivity.DateTaskCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeActivity.DateTaskCompleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeActivity.TaskDurationMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeActivity.TaskDurationMinutes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmployeeActivity?.Id">Edit</a> |
    <a asp-page="../Index">Back to List</a>
</div>
